{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}

<div class="container pt-3 mt-5">
    <div class="container">
            <div class="row">
                <div class="col-6 text-start py-3">
                    {% if app.user.avatar is not same as null %}

                        <img class="avatarProfile" src="{{ app.user.avatar }}" alt="">
                    
                    {% else %}

                        <img class="avatarProfile" src="https://images.unsplash.com/photo-1505440484611-23c171ad6e96?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2908&q=80" alt="">
                    
                    {% endif %}
                        <p>{{ app.user.pseudo }}</p>
                </div>
                <div class="col-6 text-end justify-content-start">
                    <h1>Réglages<i style="padding-left : 15px;" class="fa-solid fa-gear"></i></h1>
                    <div>
                    <a class="btn btn-outline-info mt-4" href="{{ path('account_edit_pseudo') }}">Modifiez votre pseudo</a>
                    </div>
                    <div>
                    <a class="btn btn-outline-info mt-4" href="{{ path('account_edit_password') }}">Modifiez votre mot de passe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}