{% extends 'base.html.twig' %}

{% block title %}Modification du chapitre{% endblock %}

{% block body %}
    {% if isScan is same as 's' %}
        <h1>Ajouter une/des page(s)</h1>
    {% else %}
        <h1>Modifier le numéro du chapitre</h1>
    {% endif %}

    {{ include('chapitre/_form.html.twig', {'button_label': 'Enregistrer'}) }}

{% endblock %}
