{% extends 'base.html.twig' %}

{% block title %}New Chapitre{% endblock %}

{% block body %}
    <h1>Création du nouveau chapitre</h1>

    {{ include('chapitre/_form.html.twig') }}


{% endblock %}
