{% extends 'base.html.twig' %}

{% block title %} À propos de nous {% endblock %}

{% block body %}

<div class="mt-4 pt-2">
    <div class="d-flex justify-content-center align-items-center flex-column">
        <h2 class="mb-4">À PROPOS DE MANFRAS</h2>
        <img style="height: 10em" src="{{ asset('Assets/logo-manfras-final.png') }}" alt="">
        <div class="mt-4">
            <h5>Manfras est un site entièrement dédier aux jeunes dessinateur français souhaitant partager leurs créations</h5>
        </div>
    </div>
</div>


{% endblock %}
