{% extends 'base.html.twig' %}

{% block title %}Edit Scan{% endblock %}

{% block body %}
    <h1 class="px-3">Modifier la page</h1>

    {{ include('scan/_form.html.twig', {'button_label': 'Valider'}) }}

{% endblock %}
