{% extends 'base.html.twig' %}

{% block title %}New Scan{% endblock %}

{% block body %}
    <h1 class="px-3">Créer une nouvelle page</h1>

    {{ include('scan/_form.html.twig') }}

    <a href="{{ path('scan_index') }}" class="btn btn-outline-danger">Retour à la liste</a>
{% endblock %}
