{% extends 'base.html.twig' %}

{% block title %} Les genres {% endblock %}

{% block body %}

{% for genre in genres %}

<div class="container py-2">
    <div class="my-2 mx-sm-1 p-lg-5">
        <h2>{{ genre }}</h2>
        <div class="row row-cols-4 my-1 p-lg-5">

        {% for value in mangas %}
            {% for item in value %}
                {% if item.genres.name is same as genre %}

                    <div class="col-lg-3 col-md-4 col-6 py-3 d-flex align-items-center justify-content-center">
                        <a href="{{ path('details_manga', {'id':  item.getId() }) }}">
                            <img class="img-fluid manga-img" src="{{ item.getImage() }}" alt="">
                            <div>
                                <h3 class="pt-1">{{ item.getNom() }}</h3>
                            </div>
                        </a>
                    </div>
            
                {% endif %}
            {% endfor %}
        {% endfor %}

        </div>
    </div>
</div>

{% endfor %}

{% endblock %}
