{% extends 'base.html.twig' %}

{% block title %}Edit Manga{% endblock %}

{% block body %}
    <h1>Modifier le manga</h1>

    {{ include('manga/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('manga_index') }}">Reotur à la liste</a>

    {{ include('manga/_delete_form.html.twig') }}
{% endblock %}
