<footer class="footer pt-5">
      <section class="container d-flex w-100 justify-content-evenly align-items-center">
        <div class="d-flex">
          <a href="">A propos de nous</a>
        </div>
        <div>
          <a href="">Politique de <span>Confidentialité</span></a>
        </div>
        <div>
          <a href="">Conditions <span>d'Utilisation</span></a>
        </div>
        <div>
          <a href=""><i class="far fa-copyright"> Copyrights</i></a>
        </div>
        <div>
          <a href="{{ path('contact') }}">Contact</a>
        </div>
      </section>
    </footer>