{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1 class="px-4">Changer votre mot de passe</h1>

    {{ form_start(form) }}
    <div class="container">

        {{ form_row(form.plainPassword) }}
        <button type="submit" class="btn btn-outline-info my-3">Validez</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
